.box2 {
  /*background-image: url(http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=5818456);*/
  margin: 20px 20px 30px 40px;
  transition: all 500ms ease;
  display: inline-block;
}

.box1 {
  display: inline-block;
}

.box1:hover + .box2 {
  -webkit-transform: rotate(5000deg) scale(0.1);
  opacity: 0;
}

img {
  height: 200px;
  width: 200px;
}
